<!-- About Section -->
<section class="success" id="about">
  <div class="container full-height-offset-about" id="about-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What I do</h2>
        <hr class="star-primary" />
      </div>
    </div>

    <div class="col-lg-12 text-center about-subtitle">
      <h4>The Process</h4>
      <p class="about-text">
        I have worked with many people from different fields and this has
        allowed me to see things from a business perspective. Whether it's
        MBA's, small business owners, or entrepreneurs I listen to what clients
        are looking for and we work together to create a solution.
      </p>
    </div>

    <hr class="about" />

    <div class="col-lg-12 text-center about-subtitle">
      <span><h4>G Suite Development</h4></span>
      <i class="fa fa-plus fa-2x fa-minus about-toggle"></i>
      <div class="about-text hidden">
        <p>
          From scripts to do repetitive tasks to stitching together workflow
          solutions with G Suite applications. I can help you publish your
          Google Sheet's Add-on to the Marketplace.
        </p>
      </div>
    </div>

    <hr class="about" />

    <div class="col-lg-12 text-center about-subtitle">
      <h4>Web Applications</h4>
      <i class="fa fa-plus fa-2x fa-minus about-toggle"></i>
      <div class="about-text hidden">
        <p>
          Applications that run on the web for in-house or customer facing
          tools. Preferably you have a design created for customer facing
          applications.
        </p>
      </div>
    </div>

    <hr class="about" />

    <div class="col-lg-12 text-center about-subtitle">
      <h4>Website Development</h4>
      <i class="fa fa-plus fa-2x fa-minus about-toggle"></i>
      <div class="about-text hidden">
        <p>
          Simple business websites and landing pages to improve traffic to your
          business. I can also set you up with listings on Google My Business,
          Bing Places for Business.
        </p>
      </div>
    </div>
    <hr class="about" />

    <div class="col-lg-12 text-center about-subtitle">
      <h4>Tech I Use</h4>
      <i class="fa fa-plus fa-2x fa-minus about-toggle"></i>
      <div class="about-text hidden">
        <p>Scripts: Google Apps Script, Python</p>
        <p>
          Web apps: React, Angular, Django, Python, Javascript, C#/ .NET Core,
          MySQL, Firebase, Google Cloud Platform
        </p>
      </div>
    </div>
    <hr class="about" />
  </div>
</section>
