<!-- About Section -->
<section class="success" id="about">
  <hr />
  <div class="container full-height-offset-about" id="about-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What I do</h2>
        <hr class="star-primary" />
      </div>
    </div>

    <div class="col-lg-12 text-center about-subtitle">
      <h4>Can I Help Your Business?</h4>
      <p class="about-text">
        Maybe you're looking to take your Google Sheet from manual drudgery to an automated powerhouse. Or you are ready
        to move out of your spreadsheet and into a new custom application tailored to your needs. If that sounds like
        you get in contact with me asap. Just to let you know, I form long term partnerships with the people and
        organizations I work with so that they are not left without support if something fails.
      </p>
    </div>

    <hr class="about" />

    <div class="col-lg-12 text-center about-subtitle">
      <span><h4>Google Workspace Development</h4></span>
      <i class="fa fa-plus fa-2x fa-plus about-toggle"></i>
      <div class="about-text hidden">
        <p>
          I will work with you to automate your workflow and use the power of Google Workspace apps to create a unique
          solution for your business.
        </p>
      </div>
    </div>

    <hr class="about" />

    <div class="col-lg-12 text-center about-subtitle">
      <h4>Web Applications</h4>
      <i class="fa fa-plus fa-2x fa-plus about-toggle"></i>
      <div class="about-text hidden">
        <p>
          If you have outgrown your spreadsheet or want a custom application to help you and your organization work more
          efficiently and keep organized or you're looking for a way centralize all the different services you use like
          Hubspot and Stripe a custom web application may be the solution for you.
        </p>
      </div>
    </div>

    <hr class="about" />

    <div class="col-lg-12 text-center about-subtitle">
      <h4>Website Development</h4>
      <i class="fa fa-plus fa-2x fa-plus about-toggle"></i>
      <div class="about-text hidden">
        <p>
          A website is the 21st century telephone book listing, it is the way to get found by your future customers. You
          supply the writing and photos and I take care of the techincal stuff: setting up the website, attach Google
          Analytics and maintain listings on Google My Business, Bing Places for Business, and Yahoo.
        </p>
      </div>
    </div>
    <hr class="about" />

    <div class="col-lg-12 text-center about-subtitle">
      <h4>Technical Buzzwords</h4>
      <i class="fa fa-plus fa-2x fa-plus about-toggle"></i>
      <div class="about-text hidden">
        <p>Scripts: Google Apps Script, Python</p>
        <p>
          Web apps: React, Angular, Django, Python, Javascript, C#/ .NET Core, MySQL, Firebase, Google Cloud Platform
        </p>
        <p>Database: Firebase Firestore, MySQL</p>
      </div>
    </div>
    <hr class="about" />
  </div>
</section>
