<!-- About Section -->
<section class="success" id="about">
  <hr />
  <div class="container full-height-offset-about" id="about-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What I do</h2>
        <hr class="star-primary" />
      </div>
    </div>

    <div class="col-lg-12 text-center about-subtitle">
      <h4>The Process</h4>
      <p class="about-text">
        We will start with an initial meeting to gather requirements. I'll use an Agile like method to break down the
        user stories into tasks and send you a ballpark estimate. We will track progress via a Trello board and burnup
        chart. I'll try to get something delivered continuously so you can give immediate feedback.
      </p>
    </div>

    <hr class="about" />

    <div class="col-lg-12 text-center about-subtitle">
      <span><h4>Google Workspace Development</h4></span>
      <i class="fa fa-plus fa-2x fa-plus about-toggle"></i>
      <div class="about-text hidden">
        <p>
          From scripts to automating repetitive tasks or custom tools to keep your business running efficiently. I also
          have experience publishing Google Sheet's Add-on to the Marketplace.
        </p>
      </div>
    </div>

    <hr class="about" />

    <div class="col-lg-12 text-center about-subtitle">
      <h4>Web Applications</h4>
      <i class="fa fa-plus fa-2x fa-plus about-toggle"></i>
      <div class="about-text hidden">
        <p>
          Applications that run on the web for in-house or customer facing uses. Connect your data to create automated
          solutions, faster business processes, or better customer experiences.
        </p>
      </div>
    </div>

    <hr class="about" />

    <div class="col-lg-12 text-center about-subtitle">
      <h4>Website Development</h4>
      <i class="fa fa-plus fa-2x fa-plus about-toggle"></i>
      <div class="about-text hidden">
        <p>
          Simple business websites, landing pages, and content driven sites. I can also help set up Google Analytics and
          tracking pixels, and set up listings on Google My Business, Bing Places for Business, etc.
        </p>
      </div>
    </div>
    <hr class="about" />

    <div class="col-lg-12 text-center about-subtitle">
      <h4>Tech I Use</h4>
      <i class="fa fa-plus fa-2x fa-plus about-toggle"></i>
      <div class="about-text hidden">
        <p>Scripts: Google Apps Script, Python</p>
        <p>
          Web apps: React, Angular, Django, Python, Javascript, C#/ .NET Core, MySQL, Firebase, Google Cloud Platform
        </p>
        <p>Database: Firebase Firestore, MySQL</p>
      </div>
    </div>
    <hr class="about" />
  </div>
</section>
